{% extends 'base.html' %}

{% block content_base_body %}

    <h2>Editează problema <a href="{% url 'problem' problem.title_id%}">{{problem.title}}</a></h2>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="io-filename">Fișier intrare .in/.out (gol pentru stdio)</label>
        <input type="text" name="io_filename" id="io_filename" value = {{restrictions.io_filename}}>
        <label for="checker">Este nevoie de checker?</label>
        <input type="checkbox" name="checker" id="checker" {%if restrictions.checker %} checked {% endif %}>
        <label for="execution_time" >Timp de execuție</label>
        <input type="number" name="execution_time" id="execution_time" min="50" required="true" value="{{restrictions.execution_time}}">
        <label for="memory">Memorie în kB</label>
        <input type="number" name="memory" id="memory" required="true" min="1000" max="512000" value="{{restrictions.memory}}">
        <label for="stack_memory">Memorie pe stivă în kB</label>
        <input type="number" name="stack_memory" id="stack_memory" required="true" min="1000" max="512000" value="{{restrictions.stack_memory}}">
        <h3>Enunț</h3>
        <textarea name="statement" cols="30" rows="10">{{statement.statement}}</textarea>

        <h3>Date de intrare</h3>
        <textarea name="input" cols="30" rows="10">{{statement.input}}</textarea>

        <h3>Date de ieșire</h3>
        <textarea name="output" cols="30" rows="10">{{statement.output}}</textarea>

        <h3>Restricții și precizări</h3>
        <textarea name="remarks" cols="30" rows="10">{{statement.remarks}}</textarea>

        <h3>Exemple</h3>
        <textarea name="examples" cols="30" rows="10">{% for tag, example in statement.examples.items %}
@-nou_exemplu-@
@-input-@
{{example.input}}
@-output-@
{{example.output}}{% endfor %}</textarea>

        <h3>Indicații de rezolvare</h3>
        <textarea name="hint" id="" cols="30" rows="10">{{statement.hint}}</textarea>
        
        <br>
        <tr>
            <td>Cum se punctează</td>
            <td>
            <select name="type" id="type">
                <option value="score_per_test" {% if scoring.type == "score_per_test" %} selected {% endif %}>Teste punctate individual</option>
                <option value="subtask" {% if scoring.type == "subtask" %} selected {% endif %}>Teste grupate (subtask)</option>
            </select>
            </td>
        </tr>

        <br>

        <textarea name="scoring" cols="30" rows="10" >{{scoring.scoring}}</textarea>
        
        <br>

        {% for error in errors %}
            <p>{{error}}</p>
        {% endfor %}

        <h3>Teste</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Nume</th>
                <th>Intrare</th>
                <th>Ieșire</th>
                <th>Acțiuni</th>
            </tr>
            {% for x in tests_seen %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><b>{{x}}</b></td>
                    <td> <a>Descărcare</a> </td>
                    <td> <a>Descărcare</a> </td>
                    <td> <a>Ștergere</a> </td>
                </tr>
            {% endfor %}
        </table>

        <p>Încărcare teste:</p>
        <input type="file" name="tests" accept=".zip">
        <br>
        <input type="SUBMIT" name="submit" value="Salvează">
    </form>

{% endblock content_base_body %}