<nav>
    <ul>
        <li><a href="{%url 'home' %}">Acasă</a></li>
        <li><a href="{%url 'all_submissions' %}">Submisii</a></li>
        {% if request.user.is_authenticated %}
            <li>{{request.user}}</li>
            <li>Profil</li>
            <li><a href="{% url 'add_problem'%}">Adaugă problemă</a></li>
            <li><a href="{% url 'logout' %}">Deconectare</a></li>
            
        {% else %}
            <li><a href="{% url 'login' %}">Autentificare</a></li>
            <li><a href="{% url 'register' %}">Înregistrare</a></li>
        {% endif %}
    </ul>

</nav>