{% extends "base.html" %}

{% load static %}

{% block content_base_body %}

    <table>
        <tr>
            <th><h4>{{problem.title}}</h4></th>
            <th></th>
        </tr>
        <tr>
            <th>Memorie</th>
            <th>{{memory_constraints}}</th>
        </tr>
        <tr>
            <th>Timp de execuție</th>
            <th>{{time_limit_constraint}}</th>
        </tr>
        <tr>
            <th>Operații IO</th>
            <th>{{in_file}}/{{out_file}}</th>
        </tr>
    </table>
    <a href="{% url 'submission_at_problem' problem.title_id%}">Soluții</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'submission_at_problem' problem.title_id%}?user_id={{request.user.username}}">Soluțiile mele</a>
    {% endif %}
    
    {% for line in statement.statement %}
        <p>{{line|urlize}}<p>
    {% endfor %}
    
    <h4>Date de intrare</h4>
    <p>{{statement.input}}</p>
    <h4>Date de ieșire</h4>
    <p>{{statement.output}}</p>
    
    {% for tag, ex in statement.examples.items%}
        <h4>Exemplu {{tag}}</h4>
        <p><strong>{{in_file}}</strong></p>
        <pre editable="false" contenteditable="false">{{ex.input}}</pre>
        <p><strong>{{out_file}}</strong></p>
        <pre editable="false" contenteditable="false">{{ex.output}}</pre>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <form action="{% url 'send-submission' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="problem_id" value="{{problem.id}}">
            <label for="compiler-type">Compilator</label>
            <select name="compiler_type" id="compiler-type">
                <option value="c++64" selected>C++ 64bit</option>
                <option value="c++32">C++ 32bit</option>
                <option value="c64">C 64bit</option>
                <option value="c32">C 32bit</option>
            </select>
            <textarea name="source_code" cols="30" rows="10" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
            <input type="SUBMIT" name="submit" value="Evaluează">
        </form>
    {% endif %}

    
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$$$', '$$$'], ['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>

{% endblock content_base_body %}