{% extends "base.html" %}

{% block content_base_body %}

    <h1>Submisii</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Problema</th>
            <th>Scor</th>
        </tr>

        {% for submission in submission_list %}
            <tr>
                <th><a href="{% url 'submission_at_id' submission.id%}">{{submission.id}}</a></th>
                <th>{{submission.user.username}}</th>
                <th><a href="{% url 'problem' submission.problem.title_id%}">{{submission.problem.title}}</a></th>
                <th>{{submission.verdict}}</th>
            </tr>
        {% endfor %}
    </table>

{% endblock content_base_body %}