{% extends "base.html" %}

{% block content_base_body %}

    <h1>Submisie</h1>

    <h4>{{user}}</h4>
    <h4>{{problem.title}}</h4>

    {% if compilation_error != "success"%}
        <h4>{{compilation_error}}</h4>
    {% endif %}
    <h4>Mesaj compilare</h4>
    <pre contenteditable="false" editable="false">
        {{compilation_warnings}}
    </pre>

    <table>
        <tr>
            <th>Test</th>
            <th>Mesaj evaluator</th>
            <th>Timp execuție</th>
            <th>Memorie</th>
            <th>Scor</th>
        </tr>

        {% for tag, test_run in test_runs.items%}
            <tr>
                <th>{{tag}}</th>
                <th>{{test_run.eval_message}}</th>
                <th>{{test_run.time_seconds}}</th>
                <th>{{test_run.memory}}</th>
                <th>{{test_run.points_awarded}}</th>
            </tr>
        {% endfor %}
    </table>
    
    {% if can_see_code %}
        <pre contenteditable="false" editable="false">
            {{source_code}}
        </pre>
    {% endif %}

{% endblock content_base_body %}